.fl-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), max-content));
	gap: var(--size-fluid-2);
	max-width: 1440px;
	margin: 0 auto;

	& .featured {
		grid-column: 1 / 3;
	}

	& .long {
		aspect-ratio: var(--aspect-box);
	}

	@media (--xl-n-below) {
		& {
			padding: var(--size-fluid-2);
			margin: inherit;
		}
	}
	
	@media (--md-n-below) {
		& .featured {
			grid-column: inherit;
		}

		& .long {
			aspect-ratio: var(--aspect-widescreen);
		}
	}
}