.fl-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--size-fluid-3);

	& > .fl-card {
		max-width: inherit;
		width: 100%;
		flex-direction: row;
		gap: var(--size-fluid-3);

		& > picture {
			flex: 2;
		}

		& > div {
			flex: 2;
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: center;
		}
	}
}