.fl-content {
  --mobile: 85vw;
  --desktop: 100rem;
  width: min(var(--mobile), var(--desktop));
  margin-inline: auto;
}

.fl-content[data-width="large"] {
  --desktop: 90rem;
}

.fl-content[data-width="medium"] {
  --desktop: 60rem;
}

.fl-content[data-width="small"] {
  --desktop: 50rem;
}

.fl-content[data-width="tiny"] {
  --desktop: 30rem;
}
