.fl-content {
	margin: 0 auto 0 auto;
	max-width: 1720px;
}

.fl-content.large {
	max-width: 1340px;
	padding: inherit;

	@media (--xl-n-below) {
		& {
			padding: var(--size-fluid-1);
		}
	}
}

.fl-content.medium {
	max-width: 1024px;
	padding: inherit;

	@media (--md-n-below) {
		& {
			padding: var(--size-fluid-1);
		}
	}
}

.fl-content.small {
	max-width: 768px;
	padding: inherit;

	@media (--md-n-below) {
		& {
			padding: var(--size-fluid-1);
		}
	}
}

.fl-content.tiny {
	max-width: 480px;
	padding: inherit;

	@media (--md-n-below) {
		& {
			padding: var(--size-fluid-1);
		}
	}
}