.fl-content {
	--width: 85vw;
	width: min(var(--width), 100rem);
	margin-inline: auto;
}

.fl-content.large {
	width: min(var(--width), 80rem);
}

.fl-content.medium {
	width: min(var(--width), 60rem);
}

.fl-content.small {
	width: min(var(--width), 50rem);
}

.fl-content.tiny {
	width: min(var(--width), 30rem);
}