.fl-flex-row {
	display: flex;
}

.fl-flex-column {
	display: flex;
	flex-direction: column;
}

.fl-flex-column > a {
	width: 100%;
}

.fl-flex-wrap {
	flex-wrap: wrap;
}

.fl-flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}