.fl-grid {
	display: grid;
	gap: var(--size-fluid-3);
	justify-content: center;
}

.fl-grid.cards {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
}

.fl-grid.gallery {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));

	& > * {
		aspect-ratio: var(--aspect-landscape);
	}
}

.fl-grid.columns {
	grid-template-columns: 1fr 1fr;
}

.fl-grid.list {
	grid-template-columns: 1fr;
}