/* purgecss start ignore */
.fl-grid {
	display: grid;
	gap: var(--size-fluid-3);
	justify-content: center;
	place-content: end center;
}

.fl-grid.cards {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
}

.fl-grid.gallery {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));

	& *:where(picture, img) {
		aspect-ratio: var(--aspect-widescreen);
		object-fit: contain;
	}
}

.fl-grid.columns {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem), 1fr));
}

.fl-grid.list {
	grid-template-columns: 1fr;
}
/* purgecss end ignore */