/* purgecss start ignore */
.fl-grid {
	display: grid;
}

.fl-grid.cards {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
}

.fl-grid.gallery {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));

	& img {
		aspect-ratio: var(--aspect-widescreen);
		object-fit: cover;
	}
}

.fl-grid.columns {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
}

.fl-grid.list {
	grid-template-columns: 1fr;
}
/* purgecss end ignore */