body {
  background-color: var(--surface-1);
  color: var(--text-1);
  background-size: 20%;
}

a {
  text-decoration-thickness: 0.1em;
}

a:hover {
  color: var(--brand);
}

img,
video,
iframe,
canvas {
  border-radius: 0.7rem;
  box-shadow: var(--shadow-1);
}

footer {
  position: sticky;
  top: 100vh;
}
