.banner {
  display: grid;
  grid-template: "container";
  color: var(--surface-1);
  height: 40vh;

  & img {
    max-height: 40vh;
    border-radius: inherit;
  }

  & > * {
    grid-area: container;
  }

  & > div {
    place-self: center;
    z-index: 1;
    padding: var(--size-fluid-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &:where([data-style="accent"]) {
    max-height: 40vh;
  }

  @media (--md-n-below) {
    & {
      max-height: 25vh;
    }

    & img {
      max-height: 25vh;
    }

    & > div {
      width: 100%;
      height: 100%;
      padding-inline: 1.2rem;
      border-radius: inherit;
      text-align: center;
    }
  }
}
