.calendar {
  & > ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
  }

  & li {
    position: relative;
  }

  & > header {
    align-items: center;
    display: flex;
    font-size: var(--font-size-4);
    justify-content: space-between;
  }

  @media (--lg-n-below) {
    & > ol {
      grid-template-columns: 1fr;
      gap: var(--size-fluid-4);
    }
  }
}

.days {
  border-block: solid 0.15rem var(--surface-2);
  border-inline-start: solid 0.15rem var(--surface-2);

  & li {
    align-items: center;
    border-inline-end: solid 0.15rem var(--surface-2);
    display: flex;
    justify-content: center;
    padding-block: var(--size-3);
  }

  @media (--lg-n-below) {
    & {
      display: none;
    }
  }
}

.events {
  border-inline-start: solid 0.15rem var(--surface-2);
  counter-reset: section;

  & li {
    align-items: end;
    aspect-ratio: 5 / 3;
    border-block-end: solid 0.15rem var(--surface-2);
    border-inline-end: solid 0.15rem var(--surface-2);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: end;
  }

  @media (--xl-n-below) {
    & li {
      aspect-ratio: 5 / 4;
    }
  }

  @media (--lg-n-below) {
    & {
      border: none;
    }

    & li:where(.deactive, :not(.elements)) {
      display: none !important;
    }

    & li {
      border: none;
      aspect-ratio: inherit;
    }
  }
}

.cl-details {
  border-radius: 0;
  border: 0;
  padding: 0;
  width: 100%;

  & summary {
    background-color: rgb(240 240 240);
    border-inline-start: solid var(--brand) 0.2rem;
    display: grid;
    font-size: var(--font-size-2);
    font-weight: normal;
    line-height: 1.5;
    padding-inline: 0.2rem;
  }

  & .day {
    align-items: center;
    background-color: var(--brand);
    border-radius: 0.7rem 0 0 0.7rem;
    color: var(--surface-1);
    display: none;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    width: 5rem;
  }

  & .info {
    display: flex;
    gap: var(--size-1);
  }

  & .cl-info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & .info :first-child::after {
    content: "-";
    padding-inline-start: var(--size-1);
  }

  & time {
    gap: 0;
  }

  &[open] .detail {
    background-color: rgb(240 240 240);
    border-inline-start: solid var(--brand) 0.2rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    padding: var(--size-1);
    position: absolute;
    width: 20rem;
    z-index: 2;
  }

  @media (--lg-n-below) {
    & summary {
      background-color: var(--surface-1);
      border-radius: 0.7rem;
      border: none;
      box-shadow: var(--shadow);
      display: grid;
      font-size: var(--font-size-3);
      gap: 1rem;
      grid-template-columns: auto 1fr;
      min-height: 6rem;
      padding: 0;
      place-items: center start;
    }

    & .cl-info {
      gap: var(--size-1);
      padding: var(--size-fluid-2);
    }

    &[open] .detail {
      background-color: var(--surface-1);
      border-radius: 0 0 0.7rem 0.7rem;
      border: 0;
      box-shadow: var(--shadow);
      padding: var(--size-fluid-1);
      position: relative;
      width: 100%;
    }

    &[open] .day {
      border-radius: 0.7rem 0 0 0;
    }

    &[open] summary {
      border-radius: 0 0.7rem 0 0;
    }

    & .day {
      display: flex;
    }
  }
}

.events .active::before {
  content: counter(section);
  counter-increment: section;
  font-size: var(--font-size-3);
  padding-inline: var(--size-3);
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  @media (--lg-n-below) {
    & {
      display: none;
    }
  }
}
