details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.calendar {
  & :where(ol) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
  }

  & li {
    position: relative;
  }

  & button {
    border: none;
  }

  & button:hover {
    fill: var(--brand);
  }

  & > header {
    align-items: center;
    display: flex;
    font-size: var(--font-size-4);
    justify-content: space-between;
  }

  @media (--lg-n-below) {
    & > ol {
      grid-template-columns: 1fr;
      gap: var(--size-fluid-4);
    }
  }
}

.days {
  border-block: solid 0.15rem var(--surface-2);
  border-inline-start: solid 0.15rem var(--surface-2);

  & li {
    align-items: center;
    border-inline-end: solid 0.15rem var(--surface-2);
    display: flex;
    justify-content: center;
    padding-block: var(--size-3);
  }

  @media (--lg-n-below) {
    & {
      display: none;
    }
  }
}

.calendar .events {
  border-inline-start: solid 0.15rem var(--surface-2);
  counter-reset: section;

  & li {
    border-block-end: solid 0.15rem var(--surface-2);
    border-inline-end: solid 0.15rem var(--surface-2);
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    justify-content: end;
    min-width: 0;
    aspect-ratio: 5 / 3;
  }

  @media (--lg-n-below) {
    & {
      border: none;
    }

    & li {
      aspect-ratio: inherit;
      border: none;
      gap: var(--size-fluid-4);
    }

    & button {
      display: none;
    }

    & li:where(:not(.full)) {
      display: none;
    }
  }
}

.events details {
  margin-inline-end: 0.5rem;
  border-radius: 0 0.7rem 0.7rem 0;

  &:where([data-position="first"]) {
    margin-inline-end: inherit;
    border-radius: inherit;
  }

  & summary {
    font-size: var(--font-size-2);
    font-weight: normal;
    line-height: 1.5;
    padding-inline: 0.4rem;
    padding-block: 0.2rem;
    user-select: none;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .date {
    display: none;
  }

  @media (--lg-n-below) {
    & {
      border-radius: 0.7rem;
      box-shadow: var(--shadow);
    }

    & .date {
      display: flex;
      text-align: center;
      align-items: center;
      border-radius: 0.7rem 0 0 0.7rem;
      color: var(--surface-1);
      font-weight: bold;
      flex-direction: column;
      justify-content: center;
      background-color: var(--color);
      padding: var(--size-fluid-4);
    }

    & summary {
      padding: 0;
      display: flex;
      align-items: center;
      gap: var(--size-fluid-4);
      font-size: var(--font-size-3);
      background-color: var(--surface-1);
      color: var(--text-1);
      border-radius: 0.7rem;
    }

    &[open] .date {
      border-radius: 0.7rem 0 0 0;
    }

    &[open] summary {
      border-radius: 0 0.7rem 0 0;
    }
  }
}

.events button {
  font-size: var(--font-size-2);
  font-weight: normal;
  line-height: 1.5;
  padding-inline: 0.4rem;
  padding-block: 0.2rem;
  border-radius: inherit;
  transform: scaleX(102%);

  &[data-position="last"] {
    margin-inline-end: 0.5rem;
    transform: inherit;
    border-radius: 0 0.7rem 0.7rem 0;
  }

  & span {
    visibility: hidden;
  }
}

.events .description {
  background-color: var(--surface-1);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  padding: var(--size-4);
  position: absolute;
  width: 30rem;
  z-index: 2;
  border-radius: 0.7rem;
  transform: translateY(5%);
  color: var(--text-1);

  & header {
    padding: 0;
  }

  & header div {
    display: flex;
    justify-content: space-between;
  }

  & button {
    background-color: inherit;
  }

  @media (--lg-n-below) {
    & {
      position: relative;
      width: 100%;
      transform: inherit;
      border-radius: 0 0 0.7rem 0.7rem;
    }
  }
}

.events .active::before {
  content: counter(section);
  counter-increment: section;
  font-size: var(--font-size-3);
  padding-inline: var(--size-3);
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  @media (--lg-n-below) {
    & {
      display: none;
    }
  }
}

.calendar[data-style="scroll"] {
  & .events {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
    gap: var(--size-fluid-3);
    border: none;
  }

  & .events section > :where(header, div) {
    padding-inline: var(--size-fluid-1);
  }

  & .events section > time {
    width: 100%;
    aspect-ratio: 4 / 1;
    font-size: var(--font-size-4);
    color: var(--surface-1);
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem 0.7rem 0 0;
  }

  & .events section {
    font-size: var(--font-size-3);
    border-radius: 0.7rem;
    box-shadow: var(--shadow);
    padding-block-end: var(--size-fluid-1);
  }

  & .events header {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }

  @media (--lg-n-below) {
    & .events section time {
      font-size: var(--font-size-3);
      aspect-ratio: 6 / 1;
    }
  }
}

.calendar .events details,
.calendar .events > section > time,
.calendar .events li > button {
  --color: var(--brand);
  background-color: var(--color);
  color: var(--surface-1);

  & .date {
    background-color: var(--color);
  }

  &[data-type="teach"] {
    --color: hsl(255, 93%, 72%);
  }

  &[data-type="open"] {
    --color: hsl(207, 91%, 55%);
  }

  &[data-type="student"] {
    --color: hsl(47, 100%, 62%);
  }

  &[data-type="workshop"] {
    --color: hsl(24, 94%, 50%);
  }

  &[data-type="external"] {
    --color: hsl(84, 69%, 51%);
  }
}
