details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.calendar {
  & :where(ol) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
  }

  & li {
    position: relative;
  }

  & button {
    border: none;
  }

  & button:hover {
    fill: var(--brand);
  }

  & > header {
    align-items: center;
    display: flex;
    font-size: var(--font-size-4);
    justify-content: space-between;
  }

  @media (--lg-n-below) {
    & > ol {
      grid-template-columns: 1fr;
      gap: var(--size-fluid-4);
    }
  }
}

.days {
  border-block: solid 0.15rem var(--surface-2);
  border-inline-start: solid 0.15rem var(--surface-2);

  & li {
    align-items: center;
    border-inline-end: solid 0.15rem var(--surface-2);
    display: flex;
    justify-content: center;
    padding-block: var(--size-3);
  }

  @media (--lg-n-below) {
    & {
      display: none;
    }
  }
}

.calendar .events {
  border-inline-start: solid 0.15rem var(--surface-2);
  counter-reset: section;

  & li {
    border-block-end: solid 0.15rem var(--surface-2);
    border-inline-end: solid 0.15rem var(--surface-2);
    display: flex;
    flex-direction: column-reverse;
    gap: var(--size-3);
    justify-content: end;
    min-width: 0;
    aspect-ratio: 5 / 3;
  }

  & .today {
    background-color: rgb(240 240 240);
    color: var(--brand);
  }

  @media (--lg-n-below) {
    & {
      border: none;
    }

    & li {
      aspect-ratio: inherit;
      border: none;
      gap: var(--size-fluid-4);
    }

    & button {
      display: none;
    }

    & li:where(:not(.full)) {
      display: none;
    }
  }
}

.events details {
  margin-inline-end: 0.5rem;
  border-radius: 0 0.7rem 0.7rem 0;

  &:where([data-position="first"]) {
    margin-inline-end: inherit;
    border-radius: inherit;
  }

  & summary {
    font-size: var(--font-size-2);
    font-weight: normal;
    line-height: 1.5;
    padding-inline: 0.4rem;
    padding-block: 0.2rem;
    user-select: none;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .date {
    display: none;
  }

  @media (--lg-n-below) {
    & {
      border-radius: 0.7rem;
      box-shadow: var(--shadow);
    }

    & .date {
      display: flex;
      text-align: center;
      align-items: center;
      border-radius: 0.7rem 0 0 0.7rem;
      color: var(--surface-1);
      font-weight: bold;
      flex-direction: column;
      justify-content: center;
      background-color: var(--color);
      padding: var(--size-fluid-4);
    }

    & summary {
      padding: 0;
      display: flex;
      align-items: center;
      gap: var(--size-fluid-4);
      font-size: var(--font-size-3);
      background-color: var(--surface-1);
      color: var(--text-1);
      border-radius: 0.7rem;
    }

    &[open] .date {
      border-radius: 0.7rem 0 0 0;
    }

    &[open] summary {
      border-radius: 0 0.7rem 0 0;
    }
  }
}

.events button {
  font-size: var(--font-size-2);
  font-weight: normal;
  line-height: 1.5;
  padding-inline: 0.4rem;
  padding-block: 0.2rem;
  border-radius: inherit;
  transform: scaleX(102%);

  &[data-position="last"] {
    margin-inline-end: 0.5rem;
    transform: inherit;
    border-radius: 0 0.7rem 0.7rem 0;
  }

  & span {
    visibility: hidden;
  }
}

.events .description {
  background-color: var(--surface-1);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  padding: var(--size-4);
  position: absolute;
  width: 30rem;
  z-index: 2;
  border-radius: 0.7rem;
  transform: translateY(5%);
  color: var(--text-1);

  & header {
    padding: 0;
  }

  & header div {
    display: flex;
    justify-content: space-between;
  }

  & button {
    background-color: inherit;
  }

  @media (--lg-n-below) {
    & {
      position: relative;
      width: 100%;
      transform: inherit;
      border-radius: 0 0 0.7rem 0.7rem;
    }
  }
}

.events .active::before {
  content: counter(section);
  counter-increment: section;
  font-size: var(--font-size-3);
  padding-inline: var(--size-3);
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  @media (--lg-n-below) {
    & {
      display: none;
    }
  }
}

.cl-details {
  &[data-repeat="repeat"] {
    & summary {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='darkgray' %3E%3Cpath d='M2 12a4 4 0 0 0 1 2.6l-1.1.7-.6.4A6 6 0 0 1 6 6h9V3l6 4-6 4V8H6a4 4 0 0 0-4 4zm20.7-3.7-.6.4-1 .7A4 4 0 0 1 22 12a4 4 0 0 1-4 4H9v-3l-6 4 6 4v-3h9a6 6 0 0 0 4.7-9.7z'/%3E%3C/svg%3E");
      background-position: calc(100% - 0.75rem) center;
      background-repeat: no-repeat;
      padding-right: var(--size-5);
    }
  }
}

.calendar .events details,
.calendar .events li > button {
  --color: var(--brand);
  background-color: var(--color);
  color: var(--surface-1);

  & .date {
    background-color: var(--color);
  }

  &[data-type="teach"] {
    --color: #9775fa;
  }

  &[data-type="open"] {
    --color: #4dabf7;
  }

  &[data-type="student"] {
    --color: #ffd43b;
  }

  &[data-type="workshop"] {
    --color: #f76707;
  }

  &[data-type="external"] {
    --color: #94d82d;
  }
}
