.card {
  position: relative;

  & a::after {
    content: "";
    position: absolute;
    inset: 0;
  }

  &[data-type="link"]:hover {
    color: var(--brand);
  }

  &[data-type="person"] {
    text-align: center;

    & picture {
      display: flex;
      justify-content: center;
    }

    & img {
      width: 50%;
      height: auto;
      aspect-ratio: var(--aspect-box);
      border-radius: 50%;
    }
  }
}
