.menu {
  & ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  & .submenu {
    transform: translateY(2.3rem);
    top: 0;
    flex-direction: column;
    align-items: start;
    position: absolute;
    background-color: var(--surface-1);
    box-shadow: var(--shadow-2);
    border-radius: 0.7rem;
    width: max-content;
    gap: var(--size-fluid-1);
  }

  & li {
    position: relative;
  }

  @media (--lg-n-below) {
    & ul {
      flex-direction: column;
      align-items: start;
      gap: inherit;
      flex: 1;
    }

    & li {
      width: 100%;
      padding-block: var(--size-3);
    }

    & li > a {
      display: inline-block;
    }

    & :where(a, button) {
      width: 100%;
    }

    & li button {
      display: flex;
      justify-content: space-between;
    }

    & .submenu {
      all: inherit;
      padding-inline-start: 1rem;
    }
  }
}
