.menu {
  & :where(ul) {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
  }

  & li {
    position: relative;
  }

  &[data-menu="submenu"] {
    transform: translateY(2.3rem);
    top: 0;
    flex-direction: column;
    align-items: start;
    position: absolute;
    background-color: var(--surface-1);
    box-shadow: var(--shadow);
    border-radius: 0.7rem;
    width: max-content;
    gap: var(--size-fluid-1);
    padding: var(--size-fluid-1);
  }

  @media (--lg-n-below) {
    & ul {
      flex-direction: column;
      align-items: start;
      gap: inherit;
      align-items: stretch;
    }

    & li:not(:last-child) {
      border-block-end: solid var(--surface-2) 0.15rem;
    }

    & li {
      padding-block: var(--size-3);
    }

    & li > a {
      display: inline-block;
    }

    & :where(a, button) {
      width: 100%;
    }

    & button {
      display: flex;
      justify-content: space-between;
    }

    &[data-menu="submenu"] {
      align-items: stretch;
      background-color: inherit;
      border-radius: inherit;
      position: relative;
      box-shadow: inherit;
      transform: inherit;
      width: 100%;
      gap: inherit;
    }
  }
}
