.navigation {
  box-shadow: var(--shadow);
  background-color: var(--surface-1);
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-fluid-1);
  flex-wrap: wrap;

  & :where(a, button) {
    text-decoration: underline 0.1em transparent;
    transition: text-decoration-color 250ms ease-in, fill 200ms ease-in;
  }

  & :hover:where(button, a) {
    color: var(--brand);
    text-decoration-color: var(--brand);
    fill: var(--brand);
  }

  & nav {
    margin-inline-end: auto;
    width: max-content;
  }

  & #menu-button {
    display: none;
    padding: var(--size-3);
    border: solid var(--surface-2) 0.15rem;
  }

  @media (--lg-n-below) {
    & #menu-button {
      display: flex;
    }

    & button {
      padding: inherit;
    }

    & ul li:not(:last-child) {
      border-block-end: solid var(--surface-2) 0.15rem;
    }

    & form {
      width: 100%;
      display: none;

      & input {
        width: 100%;
      }
    }

    & .logo {
      flex: 2;
    }

    & nav {
      flex: 1 1 40rem;
      display: none;
    }
  }
}
