.navigation {
  box-shadow: var(--shadow);
  background-color: var(--surface-1);
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: start;

  & :where(button:focus) svg {
    transition: 0.4s transform ease;
    transform: rotate(-180deg);
  }

  & :where(button:not(:focus)) svg {
    transition: 0.4s transform ease;
    transform: rotate(0deg);
  }

  & :where(a, button) {
    text-decoration: underline 0.1em transparent;
    transition: text-decoration-color 250ms ease-in, fill 200ms ease-in;
    border: none;
  }

  & :where(a, button):hover {
    color: var(--brand);
    text-decoration-color: var(--brand);
    fill: var(--brand);
  }

  & nav {
    margin-inline-end: var(--size-5);
    flex-shrink: 0;
  }

  & #menu-button {
    display: none;
    padding: var(--size-3);
    border: solid var(--surface-2) 0.15rem;
    line-height: 1.5;
  }

  & form {
    flex: 0 1 20rem;
    margin-inline-start: auto;
  }

  & input {
    width: 100%;
  }

  @media (--lg-n-below) {
    & {
      justify-content: space-between;
      flex-wrap: wrap;
    }

    & #menu-button {
      display: flex;
    }

    & button {
      padding: inherit;
    }

    & form {
      margin-block-start: var(--size-4);
      flex: 1 1 auto;
      width: 100%;
      display: none;
      margin-inline-start: inherit;
    }

    & nav {
      width: 100%;
      display: none;
    }
  }
}
