.fl-banner {
  display: grid;
  grid-template: "container";
  place-items: center center;

  & h2 {
    font-size: var(--font-size-7);
  }

  & > * {
    grid-area: container;
  }

  & :where(picture, img, figure) {
    height: 500px;
  }

  & > :first-child {
    z-index: 1;
  }

  & .fl-color {
    height: 500px;
    width: 100%;
  }

  & .fl-illustration {
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  @media (--md-n-below) {
    & {
      place-items: inherit;
    }

    & .fl-content {
      width: 100%;
    }

    & :where(picture, img, figure) {
      height: 100%;
    }

    & .fl-color {
      height: 300px;
    }

    & h2 {
      font-size: var(--font-size-6);
    }
  }
}
