.fl-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  max-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}