.blockquote {
  & {
    text-align: center;
  }

  & p {
    quotes: "“" "“" "“" "“";
    font-size: var(--font-size-5);
  }

  & p::before {
    content: open-quote;
    color: var(--brand);
  }

  & p::after {
    content: close-quote;
    color: var(--brand);
  }
}
