.calendar {
  & > ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
  }

  & > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-4);
  }
}

.days {
  border-block: solid 0.15rem rgb(245 245 245);
  border-inline-start: solid 0.15rem rgb(245 245 245);
  & li {
    border-inline-end: solid 0.15rem rgb(245 245 245);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.5rem;
  }
}

.events {
  border-inline-start: solid 0.15rem rgb(245 245 245);
  & li {
    border-block-end: solid 0.15rem rgb(245 245 245);
    border-inline-end: solid 0.15rem rgb(245 245 245);
    aspect-ratio: 5 / 3;
  }
}

.events {
  counter-reset: section;
}

.events details {
  height: 100%;
  width: 100%;
}

.events details summary {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  font-size: var(--font-size-2);
}

.events .active::before {
  position: absolute;
  counter-increment: section;
  content: counter(section);
  right: 0;
  padding-inline: 0.5rem;
  font-size: var(--font-size-3);
  pointer-events: none;
}

.events li details:hover {
  background-color: var(--surface-2);
}

@media (--lg-n-below) {
  .events li details summary span {
    display: none;
  }
  .events li::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.calendar {
  & details {
    transition: background-color 0.3s ease;
    position: relative;
  }

  & details summary {
    user-select: none;
    display: flex;
    justify-content: space;
    align-items: center;
    gap: var(--size-3);
    cursor: pointer;
  }

  & summary {
    list-style: none;
  }

  & summary::-webkit-details-marker {
    display: none;
  }

  & details[open] {
    animation: sweep 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  & details[open] > div {
    width: 100%;
    position: absolute;
    background-color: red;
  }

  & .deactive {
    background-color: red;
  }

  @keyframes sweep {
    0% {
      box-shadow: none;
    }
    100% {
      box-shadow: var(--shadow-2);
    }
  }
}
