.fl-card {
	transition: box-shadow 0.3s ease;
	aspect-ratio: var(--aspect-landscape);

	& > :not(picture, img) {
		padding: 0 var(--size-2);
	}

	& header {
		margin-bottom: var(--size-4);
	}
}

.fl-card.featured {
	grid-column: 1 / 3;
	aspect-ratio: var(--aspect-widescreen);
}

.fl-card.long {
	aspect-ratio: var(--aspect-box);
}

.fl-card.row {
	aspect-ratio: inherit;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--size-fluid-3);

	& img {
		aspect-ratio: var(--aspect-widescreen);
	}

	& > div {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
	}
}