.fl-card {
  @media (--md-n-below) {
    & {
      display: inline-block;
      grid-column: inherit !important;
      aspect-ratio: var(--aspect-widescreen) !important;
      grid-template-columns: inherit;
    }

    & img {
      aspect-ratio: var(--aspect-widescreen) !important;
    }
  }
}

.fl-card[data-type="person"] {
  text-align: center;

  & img {
    width: 50%;
    height: auto;
    aspect-ratio: var(--aspect-box) !important;
    border-radius: 50%;
  }
}
