.fl-hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& .fl-hero-content {
		position: absolute;
		color: var(--text-1);
		max-width: 1440px;
		margin: 0 auto 0 auto;
		left: 5rem;

		& h1 {
			padding: var(--size-2) var(--size-4);
			display: inline-flex;
			font-size: var(--font-size-7);
			margin-bottom: var(--size-4);
		}

		& p {
			padding: var(--size-2) var(--size-4);
			display: inline-flex;
			font-size: var(--font-size-6);
		}
	}
}

.fl-hero.large {
	max-height: 80vh;
}

.fl-hero.medium {
	max-height: 50vh;
}

.fl-hero.small {
	max-height: 30vh;
}