.fl-logo {
  flex-shrink: 0;
  font-size: var(--font-size-4);
  margin-inline-end: 2rem;

  & img {
    width: auto;
    max-height: var(--size-fluid-2);
    box-shadow: none;
  }

  & svg {
    fill: var(--brand);
  }

  & .full {
    max-height: var(--size-fluid-4);
  }
}
