.fl-logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: var(--size-2);
	flex-shrink: 0;

	& img {
		width: auto;
		max-height: 2rem;
	}

	& svg {
		fill: var(--brand);
	}
}