.fl-menu {
  display: flex;
  align-items: center;

  & a {
    text-decoration: none;
    text-decoration-thickness: 0.1em;
  }

  & :hover:where(button, a) {
    color: var(--brand);
    text-decoration: underline;
  }

  & > button {
    display: none;
    margin-inline-start: auto;
    padding-inline: var(--size-2);
  }

  @media (--xl-n-below) {
    & {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr auto;
      place-items: center start;
    }

    & > button {
      display: flex;
    }
  }
}

.fl-menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 2rem;

  & li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  @media (--xl-n-below) {
    & {
      margin-top: var(--size-4);
      gap: unset;
      grid-column: 1 / 3;
      flex-direction: column;
      display: none;
      border-block-start: solid thin rgb(221, 221, 221);
    }

    & li {
      padding-block: var(--size-3);
      width: 100%;
      flex-direction: column;
      border-block-end: solid thin rgb(221, 221, 221);
    }

    & li :where(a, button) {
      width: 100%;
      height: 100%;
    }

    & button {
      justify-content: space-between !important;
    }

    & svg {
      width: 1rem;
    }

    & .fl-language {
      margin-block-start: var(--size-3);
      padding-block: var(--size-3);
    }
  }
}

.fl-menu.submenu {
  flex-direction: column;
  align-items: start;
  left: 0;
  gap: var(--size-fluid-2);
  transform: translateY(70%);
  position: absolute;
  background-color: var(--surface-2);
  padding: var(--size-fluid-1);
  box-shadow: var(--shadow-2);
  border-radius: var(--size-2);
  width: max-content;

  @media (--xl-n-below) {
    & {
      padding-inline-start: var(--size-3);
      border: none;
      margin: inherit;
      gap: 0;
      padding: inherit;
      width: inherit;
      transform: inherit;
      background-color: inherit;
      box-shadow: inherit;
      display: flex;
      position: inherit;
    }
  }
}
