.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;

  @media (--lg-n-below) {
    & {
      margin-top: var(--size-3);
      flex-direction: column;
      align-items: start;
      width: 100%;
      height: 100%;
      gap: inherit;
    }

    & :not(svg) {
      width: 100%;
      height: 100%;
    }

    & li {
      padding-block: var(--size-3);
    }

    & li > a {
      display: inline-block;
    }

    & li button {
      display: flex;
      justify-content: space-between;
    }
  }
}

.underline {
  @media (--lg-n-below) {
    & li {
      border-bottom: solid thin #ddd;
    }
  }
}

.submenu {
  transform: translateY(2.3rem);
  top: 0;
  padding: var(--size-4);
  padding-inline-end: var(--size-6);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  background-color: var(--surface-1);
  box-shadow: var(--shadow-2);
  border-radius: 0.7rem;
  width: max-content;

  @media (--lg-n-below) {
    & {
      padding: inherit;
      padding-inline-start: 1rem;
      box-shadow: inherit;
      background-color: inherit;
      transform: inherit;
      position: inherit;
    }
  }
}

li {
  position: relative;
}
