.fl-navigation {
  box-shadow: var(--shadow-2);
  background-color: var(--surface-1);
  position: sticky;
  top: 0;
  z-index: 10;

  & a {
    text-decoration: none;
    text-decoration-thickness: 0.1em;
  }

  & :hover:where(button, a) {
    color: var(--brand);
    text-decoration: underline;
    fill: var(--brand);
  }

  & nav {
    margin-inline-end: auto;
    width: max-content;
  }

  & #menu-button {
    display: none;
  }

  @media (--lg-n-below) {
    & #menu-button {
      display: flex;
    }

    & form {
      width: 100%;
      display: none;

      & input {
        width: 100%;
      }
    }

    & .fl-logo {
      flex: 2;
    }

    & nav {
      flex: 1 1 40rem;
      display: none;
    }
  }
}
