.fl-person {
	& {
		aspect-ratio: var(--aspect-landscape);
		padding: 0 !important;
	}

	& header {
		margin-bottom: var(--size-3);
	}

	& dl {
		display: flex;
		flex-direction: column;
		gap: var(--size-3);
	}
}