.fl-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--size-5);
    list-style: none;
    width: 100%;
}

.info {
    color: var(--surface-2);
    font-size: 1rem;
}

.fl-info {
    display: flex;
    flex-direction: row;
    margin-inline-start: auto;
    gap: var(--size-4);

    @media (--lg-n-below) {
		& {
            width: 100%;
            margin-block-start: 2rem;
			flex-direction: column;
		}

        & :where(form, input) {
            width: 100%;
        }
	}
}