/* purgecss start ignore */
.richtext {
  display: flex;
  flex-direction: column;

  & img {
    margin-block: var(--size-4);
    aspect-ratio: var(--aspect-widescreen);
  }

  & ul {
    padding: revert;
    list-style: circle;
  }

  & .richtext-image.left {
    align-self: start;
    aspect-ratio: inherit;
    max-width: 100%;
    width: unset;
  }

  & .richtext-image.centered {
    aspect-ratio: inherit;
    align-self: center;
    max-width: 100%;
    width: unset;
  }
}
/* purgecss end ignore */
