/* purgecss start ignore */
.fl-paragraph {
	& img {
		aspect-ratio: var(--aspect-landscape);
	}

	& ul {
		padding: revert;
	}

	& div {
		aspect-ratio: 3 / 2;
		width: 100%;
		height: 100%;
	}

	& .richtext-image.left {
		aspect-ratio: inherit;
		width: inherit;
	}
}
/* purgecss end ignore */