.fl-split {
	display: grid;
	grid-template-columns: 1fr .9fr;

	@media (--lg-n-below) {
		& {
			grid-template-columns: 1fr !important;
			gap: inherit;
		}

		& >:first-child {
			order: 1;
		}

		& img {
			aspect-ratio: 6 / 3;
		}
	}
}