.fl-split {
	display: grid;
	grid-template-columns: 1fr 0.9fr;
	gap: var(--size-fluid-5);
	transition: box-shadow 0.3s ease;

	& img {
		object-fit: cover;
		aspect-ratio: var(--aspect-widescreen);
	}

	@media (--lg-n-below) {
		& {
			grid-template-columns: 1fr;
			gap: var(--size-fluid-2);
		}

		& .fl-split-media img{
			aspect-ratio: 6/ 3;
		}
	}
}

.fl-split-media {
	align-self: center;
}

.fl-split-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--size-fluid-1);
}