.fl-body {
	background-color: var(--gray-0);

	& > .fl-home {
		& > .fl-hero {
			margin-bottom: var(--size-fluid-5);
		}
	}
}

.fl-main > *:nth-child(1){
	margin-top: 0 !important;
}

.fl-body main {
	& .fl-accent:nth-child(2n){
		background-color: inherit;
		color: inherit;
	}
}