.fl-footer {
	background-color: var(--gray-9);
	color: var(--gray-1);
	padding: var(--size-fluid-2);
	margin-top: var(--size-fluid-4);
}

.fl-footer ul {
	list-style: none;
}

.fl-test {
	background-color: red;
}