.fl-hero {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fl-hero-media {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.fl-hero-media > * {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.fl-hero + * {
	margin-top: 100vh;
}

.fl-hero {
	& .fl-content {
		position: absolute;
		width: 100vw;
		height: max-content;
		z-index: 10;
	}

	& .fl-hero-content {
		width: 50%;
		padding: 0;
		color: white;

		& p {
			font-size: var(--font-size-6);
		}
	}
}