.fl-hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fl-hero-content {
	position: absolute;
	color: white;
	width: 100vw;
	max-width: 1440px;
	margin: 0 auto 0 auto;

	& p {
		font-size: var(--font-size-6);
	}
}

.fl-hero-media {
	width: 100%;
	height: 90vh;
	object-fit: cover;

	& > * {
		width: 100%;
		height: 90vh;
		object-fit: cover;
	}
}

.fl-hero-media.medium {
	height: 50vh;

	& > * {
		width: 100%;
		height: 50vh;
		object-fit: cover;
	}
}

.fl-hero-media.small {
	height: 30vh;

	& > * {
		width: 100%;
		height: 30vh;
		object-fit: cover;
	}
}