.fl-navigation {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: var(--size-fluid-5);
	padding: var(--size-fluid-1);
	box-shadow: var(--shadow-2);
	background-color: var(--gray-0);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 10;
}
