:where(blockquote) {
  text-align: center;
  quotes: "“" "“" "“" "“";
  font-size: var(--font-size-5);

  & p::before {
    content: open-quote;
    color: var(--brand);
    padding: var(--size-3);
  }

  & p::after {
    content: close-quote;
    color: var(--brand);
    padding: var(--size-3);
  }
}

cite {
  font-size: var(--font-size-3);
}
