footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: var(--surface-1);

  & > :first-child {
    background-color: var(--text-1);
  }

  @media (--lg-n-below) {
    flex-direction: column;

    & div {
      flex-direction: column;
      gap: var(--size-6) !important;
      margin-inline-start: inherit !important;
      align-items: start !important;
    }
  }
}
