h1{
	font-size: var(--font-size-7);
	font-family: Segoe UI;
}

h2{
	font-size: var(--font-size-6);
	font-family: Segoe UI;
}

h3{
	font-size: var(--font-size-5);
	font-family: Segoe UI;
}

h4{
	font-size: var(--font-size-4);
	font-family: Segoe UI;
}

h5{
	font-size: var(--font-size-3);
	font-family: Segoe UI;
}

p{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}

a{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}

time{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}

button{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}

address {
	font-size: var(--font-size-3);
	font-family: Helvetica;
}