h1{
	font-size: var(--font-size-7);
	font-family: Segoe UI;
}

h2{
	font-size: var(--font-size-6);
	font-family: Segoe UI;
}

h3{
	font-size: var(--font-size-5);
	font-family: Segoe UI;
}

h4{
	font-size: var(--font-size-4);
	font-family: Segoe UI;
}

h5{
	font-size: var(--font-size-3);
	font-family: Segoe UI;
}

p{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}

a{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}

a:hover {
	color: var(--blue-8);
}

time{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}

button{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}

button:hover {
	color: var(--blue-8);
}

address {
	font-size: var(--font-size-3);
	font-family: Helvetica;
}

li {
	font-size: var(--font-size-3);
}

blockquote {
	font-size: var(--font-size-4);
}

dl {
	font-size: var(--font-size-3);
}