details {
  position: relative;
  border: solid var(--surface-2) 0.15rem;
  border-radius: 0.3rem;
  padding: var(--size-3);
  padding-inline: var(--size-4);
}

details summary {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary svg {
  transition: 0.4s transform ease;
  transform: rotate(-180deg);
}

details summary svg {
  transition: 0.4s transform ease;
  transform: rotate(0deg);
}
