:where(.align-start) {
  align-items: start;
}

:where(.align-center) {
  align-items: center;
}

:where(.align-end) {
  align-items: end;
}

:where(.align-self-start) {
  align-self: start;
}

:where(.align-self-center) {
  align-self: center;
}

:where(.align-self-end) {
  align-self: end;
}
