@media screen and (prefers-reduced-motion: reduce) {
  .fade-in {
    opacity: 1;
    scale: 1;
  }
}
@media screen and (prefers-reduced-motion: no-preference) {
  & :where([data-color="accent"]) .card {
    opacity: 0;
    transform: scale(0.9);
  }

  iframe {
    opacity: 0;
    transform: scale(0.9);
  }

  iframe:hover {
    transform: scale(1.01);
    transition: transform 100ms ease-in;
  }

  .card:not([data-type="person"]):is([data-type="link"]) {
    &:hover {
      transform: scale(1.01) translateY(-0.7%);
      transition: transform 200ms ease-in;
    }
  }

  .fade-in {
    opacity: 1;
    transform: scale(1);
    transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
  }
}

.card > header > :is(a) {
  background-color: red;
}
