@media screen and (prefers-reduced-motion: reduce) {
  .fade-in {
    opacity: 1;
    scale: 1;
  }

  :where(.card, iframe) {
    opacity: unset;
    scale: unset;
  }
}
@media screen and (prefers-reduced-motion: no-preference) {
  & :where([data-color="accent"]) .card {
    opacity: 0;
    transform: scale(0.9);
  }

  iframe {
    opacity: 0;
    transform: scale(0.9);
  }

  iframe:hover {
    transform: scale(1.01);
    transition: transform 100ms ease-in;
  }

  .card:not([data-type="person"]) {
    & a {
      text-decoration: none;
    }

    & header {
      text-decoration: underline;
    }

    &:hover {
      color: var(--brand);
      transform: scale(1.01);
      transition: transform 100ms ease-out;
    }
  }

  .fade-in {
    opacity: 1;
    transform: scale(1);
    transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
  }
}
