:where(aspect-landscape) {
  aspect-ratio: var(--aspect-landscape);
}

:where(aspect-widescreen) {
  aspect-ratio: var(--aspect-widescreen);
}

:where(aspect-portrait) {
  aspect-ratio: var(--aspect-portrait);
}

:where(aspect-box) {
  aspect-ratio: var(--aspect-box);
}
