:where(.justify-start) {
  justify-content: start;
}

:where(.justify-center) {
  justify-content: center;
}

:where(.justify-end) {
  justify-content: end;
}

:where(.justify-between) {
  justify-content: space-between;
}

:where(.justify-around) {
  justify-content: space-around;
}

:where(.justify-evenly) {
  justify-content: space-evenly;
}
