:where([data-padding]) {
  padding: var(--padding);
}

:where([data-padding="large"]) {
  --padding: var(--size-fluid-6);
}

:where([data-padding="medium"]) {
  --padding: var(--size-fluid-4);
}

:where([data-padding="small"]) {
  --padding: var(--size-fluid-1);
}

:where([data-padding="tiny"]) {
  --padding: var(--size-2);
}

:where([data-padding-block]) {
  padding-block: var(--padding-block);
}

:where([data-padding-block="large"]) {
  --padding-block: var(--size-fluid-6);
}

:where([data-padding-block="medium"]) {
  --padding-block: var(--size-fluid-4);
}

:where([data-padding-block="small"]) {
  --padding-block: var(--size-fluid-1);
}

:where([data-padding-block="tiny"]) {
  --padding-block: var(--size-2);
}

:where([data-padding-block-end]) {
  padding-block-end: var(--padding-block-end);
}

:where([data-padding-block-end="large"]) {
  --padding-block-end: var(--size-fluid-6);
}

:where([data-padding-block-end="medium"]) {
  --padding-block-end: var(--size-fluid-4);
}

:where([data-padding-block-end="small"]) {
  --padding-block-end: var(--size-fluid-1);
}

:where([data-padding-block-end="tiny"]) {
  --padding-block-end: var(--size-2);
}

:where([data-padding-block-start]) {
  padding-block-start: var(--padding-block-start);
}

:where([data-padding-block-start="large"]) {
  --padding-block-start: var(--size-fluid-6);
}

:where([data-padding-block-start="medium"]) {
  --padding-block-start: var(--size-fluid-4);
}

:where([data-padding-block-start="small"]) {
  --padding-block-start: var(--size-fluid-1);
}

:where([data-padding-block-start="tiny"]) {
  --padding-block-start: var(--size-2);
}

:where([data-padding-inline]) {
  padding-inline: var(--padding-inline);
}

:where([data-padding-inlinet="large"]) {
  --padding-inline: var(--size-fluid-6);
}

:where([data-padding-inline="medium"]) {
  --padding-inline: var(--size-fluid-4);
}

:where([data-padding-inline="small"]) {
  --padding-inline: var(--size-fluid-1);
}

:where([data-padding-inline="tiny"]) {
  --padding-inline: var(--size-2);
}

:where([data-padding-inline-start]) {
  padding-inline-start: var(--padding-inline-start);
}

:where([data-padding-inlinet-start="large"]) {
  --padding-inline-start: var(--size-fluid-6);
}

:where([data-padding-inline-start="medium"]) {
  --padding-inline-start: var(--size-fluid-4);
}

:where([data-padding-inline-start="small"]) {
  --padding-inline-start: var(--size-fluid-1);
}

:where([data-padding-inline-start="tiny"]) {
  --padding-inline-start: var(--size-2);
}

:where([data-padding-inline-end]) {
  padding-inline-end: var(--padding-inline-end);
}

:where([data-padding-inlinet-end="large"]) {
  --padding-inline-end: var(--size-fluid-6);
}

:where([data-padding-inline-end="medium"]) {
  --padding-inline-end: var(--size-fluid-4);
}

:where([data-padding-inline-end="small"]) {
  --padding-inline-end: var(--size-fluid-1);
}

:where([data-padding-inline-end="tiny"]) {
  --padding-inline-end: var(--size-2);
}
