/* purgecss start ignore */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

main {
  min-height: 100vh;
}

:where(img, video, iframe, figure, canvas) {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

:where(input, button, textarea, select) {
  background-color: transparent;
  border: none;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

.grecaptcha-badge {
  visibility: hidden;
}

ul {
  list-style: none;
}
/* purgecss end ignore */
