.align-start {
	align-items: start;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: end;
}


.align-self-start {
	align-self: start;
}

.align-self-center {
	align-self: center;
}

.align-self-end {
	align-self: end;
}