.aspect-landscape{
	aspect-ratio: var(--aspect-landscape);
}

.aspect-widescreen{
	aspect-ratio: var(--aspect-widescreen);
}

.aspect-portrait{
	aspect-ratio: var(--aspect-portrait);
}

.aspect-box{
	aspect-ratio: var(--aspect-box);
}