.margin {
  --size: 0;

  --margin-block-start: 0;
  --margin-block-end: 0;
  --margin-inline-start: 0;
  --margin-inline-end: 0;
  margin: var(--margin-block-start) var(--margin-inline-end) var(--margin-block-end)
    var(--margin-inline-start);
}

.margin[data-margin="inline"] {
  --margin-inline-start: var(--margin-size);
  --margin-inline-end: var(--margin-size);
}

.margin[data-margin="inline-start"] {
  --margin-inline-start: var(--margin-size);
}

.margin[data-margin="inline-end"] {
  --margin-inline-end: var(--margin-size);
}

.margin[data-margin="block"] {
  --margin-block-start: var(--margin-size);
  --margin-block-end: var(--margin-size);
}

.margin[data-margin="block-start"] {
  --margin-block-start: var(--margin-size);
}

.margin[data-margin="block-end"] {
  --margin-block-end: var(--margin-size);
}

.margin[data-margin-size="large"] {
  --margin-size: var(--size-fluid-6);
}

.margin[data-margin-size="medium"] {
  --margin-size: var(--size-fluid-4);
}

.margin[data-margin-size="small"] {
  --margin-size: var(--size-fluid-1);
}

.margin[data-margin-size="tiny"] {
  --margin-size: var(--size-2);
}
