.margin {
  --size: 0;

  --block-start: 0;
  --block-end: 0;
  --inline-start: 0;
  --inline-end: 0;
  margin: var(--block-start) var(--inline-end) var(--block-end) var(--inline-start);
}

.margin[data-margin-direction="inline"] {
  --inline-start: var(--size);
  --inline-end: var(--size);
}

.margin[data-margin-direction="inline-start"] {
  --inline-start: var(--size);
}

.margin[data-margin-direction="inline-end"] {
  --inline-end: var(--size);
}

.margin[data-margin-direction="block"] {
  --block-start: var(--size);
  --block-end: var(--size);
}

.margin[data-margin-direction="block-start"] {
  --block-start: var(--size);
}

.margin[data-margin-direction="block-end"] {
  --block-end: var(--size);
}

.margin[data-margin-size="large"] {
  --size: var(--size-fluid-6);
}

.margin[data-margin-size="medium"] {
  --size: var(--size-fluid-4);
}

.margin[data-margin-size="small"] {
  --size: var(--size-fluid-1);
}

.margin[data-margin-size="tiny"] {
  --size: var(--size-2);
}
