.padding-large {
	padding: var(--size-fluid-6);
}
.padding-medium {
	padding: var(--size-fluid-4);
}
.padding-small {
	padding: var(--size-fluid-1);
}


.padding-block-large {
	padding-block: var(--size-fluid-6);
}
.padding-block-medium {
	padding-block: var(--size-fluid-4);
}
.padding-block-small {
	padding-block: var(--size-fluid-1);
}


.padding-inline-large {
	padding-inline: var(--size-fluid-6);
}
.padding-inline-medium {
	padding-inline: var(--size-fluid-4);
}
.padding-inline-small {
	padding-inline: var(--size-fluid-1);
}



.padding-inline-start-large {
	padding-inline-start: var(--size-fluid-6);
}
.padding-inline-start-medium {
	padding-inline-start: var(--size-fluid-4);
}
.padding-inline-start-small {
	padding-inline-start: var(--size-fluid-1);
}


.padding-inline-end-large {
	padding-inline-end: var(--size-fluid-6);
}
.padding-inline-end-medium {
	padding-inline-end: var(--size-fluid-4);
}
.padding-inline-end-small {
	padding-inline-end: var(--size-fluid-1);
}


.padding-block-start-large {
	padding-block-start: var(--size-fluid-6);
}
.padding-block-start-medium {
	padding-block-start: var(--size-fluid-4);
}
.padding-block-start-small {
	padding-block-start: var(--size-fluid-1);
}


.padding-block-end-large {
	padding-block-end: var(--size-fluid-6);
}
.padding-block-end-medium {
	padding-block-end: var(--size-fluid-4);
}
.padding-block-end-small {
	padding-block-end: var(--size-fluid-1);
}