.padding {
  --padding-size: 0;

  --padding-block-start: 0;
  --padding-block-end: 0;
  --padding-inline-start: 0;
  --padding-inline-end: 0;
  padding: var(--padding-block-start) var(--padding-inline-end) var(--padding-block-end)
    var(--padding-inline-start);
}

.padding[data-padding="all"] {
  --padding-inline-start: var(--padding-size);
  --padding-inline-end: var(--padding-size);
  --padding-block-start: var(--padding-size);
  --padding-block-end: var(--padding-size);
}

.padding[data-padding="inline"] {
  --padding-inline-start: var(--padding-size);
  --padding-inline-end: var(--padding-size);
}

.padding[data-padding="inline-start"] {
  --padding-inline-start: var(--padding-size);
}

.padding[data-padding="inline-end"] {
  --padding-inline-end: var(--padding-size);
}

.padding[data-padding="block"] {
  --padding-block-start: var(--padding-size);
  --padding-block-end: var(--padding-size);
}

.padding[data-padding="block-start"] {
  --padding-block-start: var(--padding-size);
}

.padding[data-padding="block-end"] {
  --padding-block-end: var(--padding-size);
}

.padding[data-padding-size="large"] {
  --padding-size: var(--size-fluid-6);
}

.padding[data-padding-size="medium"] {
  --padding-size: var(--size-fluid-4);
}

.padding[data-padding-size="small"] {
  --padding-size: var(--size-fluid-1);
}

.padding[data-padding-size="tiny"] {
  --padding-size: var(--size-2);
}
