/* purgecss start ignore */
.hidden {
	display: none !important;
}

.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fl-accent {
	background-color: var(--brand);
	color: var(--surface-1);

	& a:hover {
		color: var(--text-1);
	}
}

.fl-accent:nth-child(odd) {
	background-color: inherit;
	color: inherit;

	& a:hover {
		color: var(--brand);
	}

	& .fl-split {
		grid-template-columns: 0.9fr 1fr;
	}
	

	& .fl-split-body {
		order: 1;
	}
}

.fl-brand {
	background-color: var(--brand);
	color: var(--surface-1);

	& a:hover {
		color: var(--text-1);
	}
}

.contain {
	object-fit: contain !important;
}

.cover {
	object-fit: cover;
}
/* purgecss end ignore */