.hidden {
	display: none !important;
}

.text-start {
	text-align: start;
}

.text-centered {
	text-align: center;
}

.text-end {
	text-align: end;
}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fl-accent {
	background-color: var(--brand);
	color: var(--surface-2);

	& a:hover {
		color: var(--text-1);
	}
}

.margin {
	margin: var(--size-fluid-4);
}

.margin-top {
	margin-top: var(--size-fluid-4);
}

.margin-bottom {
	margin-bottom: var(--size-fluid-4);
}

.margin-left {
	margin-left: var(--size-fluid-4);
}

.margin-right {
	margin-right: var(--size-fluid-4);
}

.padding {
	padding: var(--size-fluid-4);
}

.padding-top {
	padding-top: var(--size-fluid-4);
}

.padding-bottom {
	padding-bottom: var(--size-fluid-4);
}

.padding-left {
	padding-left: var(--size-fluid-4);
}

.padding-right {
	padding-right: var(--size-fluid-4);
}