/* purgecss start ignore */
.hidden {
  display: none !important;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

*[data-style="color"] {
  background-color: var(--brand);
  color: var(--surface-1);
  box-shadow: var(--shadow-2);
  padding-block-start: var(--size-fluid-3);
  padding-block-end: var(--size-fluid-5);

  & img {
    filter: none;
  }

  & a:hover {
    color: var(--surface-2);
  }

  & :focus-visible {
    outline: 2px solid var(--surface-1);
  }

  & select {
    color: var(--text-1);
  }

  & :where(button, select) {
    border-color: var(--surface-1);
    color: var(--surface-1);
  }

  &:where(.content, .media) {
    padding-block: var(--size-fluid-6);
    clip-path: polygon(0 calc(0% + 3vw), 100% 0, 100% calc(100% - 3vw), 0 100%);
  }
}

html .banner:not(:first-of-type) {
  clip-path: polygon(0 calc(0% + 3vw), 100% 0, 100% calc(100% - 3vw), 0 100%);
}

.glass {
  background-color: var(--brand);
  color: var(--surface-1);

  & a:hover {
    color: var(--surface-2);
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    & {
      background-color: inherit;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
    }
  }
}

.contain {
  object-fit: contain !important;
}

.cover {
  object-fit: cover;
}
/* purgecss end ignore */
