.fl-blockquote {
	& {
		text-align: center;
	}
	
	& p {
		quotes: "“" "“" "“" "“";
		font-size: var(--font-size-5);

		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}
	}
}
