.fl-card {
	max-width: 1000px;
	transition: box-shadow 0.3s ease;
	aspect-ratio: 3 / 2;

	& > :not(picture, img) {
		padding: 0 var(--size-2);
	}

	& img {
		height: 100%;
		width: 100%;
		aspect-ratio: var(--aspect-widescreen);
		object-fit: cover;
	}

	& header {
		margin-bottom: var(--size-3);
	}

	& > a {
		margin-top: var(--size-5);
	}
}

.fl-card:hover {
	& {
		box-shadow: var(--shadow-2);
	}
}

.fl-card.left {
	text-align: left;
}

.fl-card.centered {
	text-align: center;
}