.fl-content {
	max-width: 1440px;
	margin: 0 auto 0 auto;
	margin-bottom: var(--size-fluid-6);

	@media (--xl-n-below) {
		& {
			padding: 0 var(--size-fluid-1) 0 var(--size-fluid-1);
			margin: inherit;
		}
	}
}

.fl-content.medium {
	max-width: 1024px;
	margin: 0 auto 0 auto;
}

.fl-content.small {
	max-width: 768px;
	margin: 0 auto 0 auto;
}
