.fl-menu ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--size-fluid-4);

	& li {
		position: relative;
	}

	& a {
		text-decoration: none;
		border-bottom: solid thin transparent;
	}

	& button {
		background-color: transparent;
		border: none;
		border-bottom: solid thin transparent;
		font-size: var(--font-size-3);
	}
}

.fl-menu a:hover {
	border-bottom: solid thin;
}

.fl-menu button:hover {
	border-bottom: solid thin;
}

.fl-submenu.hidden {
	display: none;
}

.fl-submenu {
	display: flex;
	flex-direction: column;
	align-items: inherit !important;
	left: 0;
	gap: var(--size-fluid-2) !important;
	transform: translateY(10%);
	position: absolute;
	width: max-content;
	background-color: var(--gray-2);
	padding: var(--size-fluid-2);
	box-shadow: var(--shadow-2);
	border-radius: var(--size-2);
}