/* purgecss start ignore */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: auto;
}

img,
picture,
video,
canvas {
	display: inline-block;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	color: inherit;
}

button {
	width: max-content;
}
/* purgecss end ignore */