.centered {
	text-align: center;
}

.padding {
	padding: var(--size-fluid-4);
}

.padding-top {
	padding-top: var(--size-fluid-4);
}

.padding-bottom {
	padding-bottom: var(--size-fluid-4);
}

.padding-left {
	padding-left: var(--size-fluid-4);
}

.padding-right {
	padding-right: var(--size-fluid-4);
}