.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.padding {
	padding: var(--size-fluid-4);
}

.padding-top {
	padding-top: var(--size-fluid-4);
}

.padding-bottom {
	padding-top: var(--size-fluid-4);
}

.padding-left {
	padding-top: var(--size-fluid-4);
}

.padding-right {
	padding-top: var(--size-fluid-4);
}