:where(.content) {
  --desktop: 100rem;
  padding-inline: max((100% - var(--desktop)) /2, 1.2rem);

  &[data-width="large"] {
    --desktop: 90rem;
  }

  &[data-width="medium"] {
    --desktop: 70rem;
  }

  &[data-width="small"] {
    --desktop: 55rem;
  }

  &[data-width="tiny"] {
    --desktop: 30rem;
  }
}
