.flex {
  display: flex;
}

.flex[data-direction="column"] {
  flex-direction: column;
}

.flex[data-direction="row"] {
  flex-direction: row;
}

.flex[data-wrap="wrap"] {
  flex-wrap: wrap;
}

.flex[data-wrap="reverse"] {
  flex-wrap: wrap-reverse;
}
