:where(.flex) {
  display: flex;

  &[data-direction="column"] {
    flex-direction: column;
  }

  &[data-direction="row"] {
    flex-direction: row;
  }

  &[data-direction="wrap"] {
    flex-wrap: wrap;
  }

  &[data-direction="reverse"] {
    flex-wrap: wrap-reverse;
  }
}
