/* purgecss start ignore */

:where(.grid) {
  display: grid;
  --fill: auto-fill;
  --card-size: 30rem;
  grid-template-columns: repeat(var(--fill), minmax(min(100%, var(--card-size)), 1fr));

  &[data-layout="extrem"] {
    grid-template-columns: 1fr;

    & > * {
      aspect-ratio: inherit;
      display: grid;
      grid-template-columns: 1.3fr 1fr;
      column-gap: var(--size-fluid-5);
      place-items: center start;
    }

    & figure {
      grid-row: 1 / 3;
    }

    & header {
      justify-self: start;
      align-self: end;
    }

    & p {
      justify-self: start;
      align-self: start;
    }
  }

  &[data-layout="large"] {
    --card-size: 30rem;
  }

  &[data-layout="medium"] {
    --card-size: 22rem;
  }

  &[data-layout="small"] {
    --card-size: 16rem;
  }

  &[data-layout="tiny"] {
    --card-size: 14rem;
  }

  &[data-layout="newspaper"] {
    --card-size: 22rem;
    & > :where(:first-child) {
      grid-column: 1 / 3;
    }

    & > :where(:nth-child(2)) img {
      aspect-ratio: var(--aspect-box);
    }
  }

  &[data-layout="magazine"] {
    --card-size: 16rem;
    & > :where(:first-child) {
      grid-column: 1 / 3;
    }

    & > :where(:nth-child(2)) {
      grid-column: 3 / 5;
    }
  }

  @media (--xl-n-below) {
    & > .card {
      grid-column: inherit;
      display: initial;
    }

    & > .card img {
      aspect-ratio: var(--aspect-widescreen);
    }
  }

  @media (--md-n-below) {
    & {
      grid-template-columns: 1fr;
    }
  }
}
/* purgecss end ignore */
